reminder_unified.json
{
  "name": "Reminder Unified — Напоминания о записях (все каналы)",
  "nodes": [
    {
      "id": "e001-0000-0000-0000-000000000001",
      "name": "Каждый день в 9:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000002",
      "name": "GET записи на завтра",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ugocvtuomyopullvilim.supabase.co/rest/v1/appointments?reminder_24h=is.null&status=neq.cancelled&date=gte.' + $now.plus({days:1}).startOf('day').toISO() + '&date=lte.' + $now.plus({days:1}).endOf('day').toISO() + '&select=record_id,date,tg_id,wa_id,max_id,phone,YC_ID,client_id,clientName,service_name,master_name' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000003",
      "name": "Разобрать массив записей",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json;\nif (!Array.isArray(body) || body.length === 0) return [];\nreturn body.map(item => ({ json: item }));"
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000004",
      "name": "По одной записи",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": { "options": {} }
    },
    {
      "id": "e001-0000-0000-0000-000000000005",
      "name": "GET клиент по tg_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ugocvtuomyopullvilim.supabase.co/rest/v1/clients_tg?tg_id=eq.' + $json.tg_id + '&select=tg_id,first_name,last_name,blocked,can_message' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000006",
      "name": "Объединить + выбрать канал",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "jsCode": "const appt = $('По одной записи').item.json;\nconst clientRaw = $input.first().json;\nconst client = Array.isArray(clientRaw) && clientRaw.length > 0 ? clientRaw[0] : {};\n\n// Форматирование даты\nconst dt = new Date(appt.date);\nconst dateFormatted = dt.toLocaleDateString('ru-RU', {\n  weekday: 'long', day: 'numeric', month: 'long', timeZone: 'Europe/Moscow'\n}) + ' в ' + dt.toLocaleTimeString('ru-RU', {\n  hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Moscow'\n});\n\n// Имя клиента\nconst clientName = client.first_name\n  ? (client.first_name + (client.last_name ? ' ' + client.last_name : ''))\n  : (appt.clientName || 'Клиент');\n\n// Текст для rich-каналов (TG, WA, Max)\nconst richText = `📅 Напоминание о записи\\n\\nПривет, ${clientName}! Напоминаем о вашей записи в салоне красоты Пять ручек:\\n\\n🗓 Дата: ${dateFormatted}\\n✂️ Услуга: ${appt.service_name || ''}\\n👤 Мастер: ${appt.master_name || ''}\\n\\nЖдём вас!`;\n\n// Текст для SMS (без эмодзи, короче)\nconst smsText = `Напоминаем: завтра ${dateFormatted} в салоне Пять ручек. Услуга: ${appt.service_name || ''}. Мастер: ${appt.master_name || ''}. Ждём вас!`;\n\n// Определение канала по приоритету: TG → Max → WA → SMS\nconst tgOk = appt.tg_id && client.can_message !== 'false' && client.blocked !== 'true';\nconst maxOk = appt.max_id;\nconst waOk  = appt.wa_id;\nconst smsOk = appt.phone;\n\nlet channel = 'none';\nif (tgOk)       channel = 'telegram';\nelse if (maxOk) channel = 'max';\nelse if (waOk)  channel = 'whatsapp';\nelse if (smsOk) channel = 'sms';\n\n// Если нет ни одного канала — пропускаем запись\nif (channel === 'none') return [];\n\nreturn [{\n  json: {\n    record_id:     appt.record_id,\n    channel:       channel,\n    tg_id:         String(appt.tg_id || ''),\n    wa_id:         String(appt.wa_id || ''),\n    max_id:        String(appt.max_id || ''),\n    phone:         String(appt.phone || ''),\n    service_name:  appt.service_name || '',\n    master_name:   appt.master_name  || '',\n    client_name:   clientName,\n    date_formatted: dateFormatted,\n    rich_text:     richText,\n    sms_text:      smsText\n  }\n}];"
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000007",
      "name": "Switch: канал отправки",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [1440, 200],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.channel }}",
        "rules": {
          "rules": [
            { "value2": "telegram",  "output": 0 },
            { "value2": "max",       "output": 1 },
            { "value2": "whatsapp",  "output": 2 },
            { "value2": "sms",       "output": 3 }
          ]
        },
        "fallbackOutput": "none"
      }
    },

    {
      "id": "e001-0000-0000-0000-000000000008",
      "name": "[TG] Отправить напоминание",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1680, -20],
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $json.rich_text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "56b5PgNwe1YoXmQn",
          "name": "test"
        }
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000009",
      "name": "[TG] Supabase: reminder_24h = sent_tg",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, -20],
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filterType": "string",
        "filterString": "={{ 'record_id=eq.' + $('Объединить + выбрать канал').item.json.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "reminder_24h", "fieldValue": "sent_tg" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "Supabase"
        }
      }
    },

    {
      "id": "e001-0000-0000-0000-000000000010",
      "name": "[Max] Отправить напоминание",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 160],
      "parameters": {
        "method": "POST",
        "url": "ЗАМЕНИ_НА_MAX_WEBHOOK_URL",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ЗАМЕНИ_НА_MAX_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $json.max_id }}" },
            { "name": "text",    "value": "={{ $json.rich_text }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000011",
      "name": "[Max] Supabase: reminder_24h = sent_max",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, 160],
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filterType": "string",
        "filterString": "={{ 'record_id=eq.' + $('Объединить + выбрать канал').item.json.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "reminder_24h", "fieldValue": "sent_max" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "Supabase"
        }
      }
    },

    {
      "id": "e001-0000-0000-0000-000000000012",
      "name": "[WA] Отправить напоминание",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 340],
      "parameters": {
        "method": "POST",
        "url": "https://api.wazzup24.com/v3/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer e729722567ce42199e74f4cc8e6acf4a"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channelId", "value": "ЗАМЕНИ_НА_WAZZUP_CHANNEL_ID" },
            { "name": "chatType",  "value": "whatsapp" },
            { "name": "chatId",    "value": "={{ $json.wa_id }}" },
            { "name": "text",      "value": "={{ $json.rich_text }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000013",
      "name": "[WA] Supabase: reminder_24h = sent_wa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, 340],
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filterType": "string",
        "filterString": "={{ 'record_id=eq.' + $('Объединить + выбрать канал').item.json.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "reminder_24h", "fieldValue": "sent_wa" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "Supabase"
        }
      }
    },

    {
      "id": "e001-0000-0000-0000-000000000014",
      "name": "[SMS] Отправить напоминание",
      "type": "n8n-nodes-base.sms77",
      "typeVersion": 1,
      "position": [1680, 520],
      "parameters": {
        "to": "={{ $json.phone }}",
        "message": "={{ $json.sms_text }}",
        "options": {}
      },
      "credentials": {
        "sms77Api": {
          "id": "UbHSQrpL2EN5yzQn",
          "name": "seven account"
        }
      }
    },
    {
      "id": "e001-0000-0000-0000-000000000015",
      "name": "[SMS] Supabase: reminder_24h = sent_sms",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1920, 520],
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "filterType": "string",
        "filterString": "={{ 'record_id=eq.' + $('Объединить + выбрать канал').item.json.record_id }}",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "reminder_24h", "fieldValue": "sent_sms" }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CRED_ID",
          "name": "Supabase"
        }
      }
    }
  ],
  "connections": {
    "Каждый день в 9:00": {
      "main": [[{ "node": "GET записи на завтра", "type": "main", "index": 0 }]]
    },
    "GET записи на завтра": {
      "main": [[{ "node": "Разобрать массив записей", "type": "main", "index": 0 }]]
    },
    "Разобрать массив записей": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    },
    "По одной записи": {
      "main": [
        [{ "node": "GET клиент по tg_id", "type": "main", "index": 0 }],
        []
      ]
    },
    "GET клиент по tg_id": {
      "main": [[{ "node": "Объединить + выбрать канал", "type": "main", "index": 0 }]]
    },
    "Объединить + выбрать канал": {
      "main": [[{ "node": "Switch: канал отправки", "type": "main", "index": 0 }]]
    },
    "Switch: канал отправки": {
      "main": [
        [{ "node": "[TG] Отправить напоминание",  "type": "main", "index": 0 }],
        [{ "node": "[Max] Отправить напоминание", "type": "main", "index": 0 }],
        [{ "node": "[WA] Отправить напоминание",  "type": "main", "index": 0 }],
        [{ "node": "[SMS] Отправить напоминание", "type": "main", "index": 0 }]
      ]
    },
    "[TG] Отправить напоминание": {
      "main": [[{ "node": "[TG] Supabase: reminder_24h = sent_tg", "type": "main", "index": 0 }]]
    },
    "[TG] Supabase: reminder_24h = sent_tg": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    },
    "[Max] Отправить напоминание": {
      "main": [[{ "node": "[Max] Supabase: reminder_24h = sent_max", "type": "main", "index": 0 }]]
    },
    "[Max] Supabase: reminder_24h = sent_max": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    },
    "[WA] Отправить напоминание": {
      "main": [[{ "node": "[WA] Supabase: reminder_24h = sent_wa", "type": "main", "index": 0 }]]
    },
    "[WA] Supabase: reminder_24h = sent_wa": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    },
    "[SMS] Отправить напоминание": {
      "main": [[{ "node": "[SMS] Supabase: reminder_24h = sent_sms", "type": "main", "index": 0 }]]
    },
    "[SMS] Supabase: reminder_24h = sent_sms": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448605b2d85039fda3236eb2e96b6b266eec110c39c8f8814847e4541b63dac6"
  }
}
