tg_reminder_send.json
{
  "name": "TG Reminder - Отправка напоминаний с кнопками",
  "nodes": [
    {
      "id": "c001-0000-0000-0000-000000000001",
      "name": "Каждый час",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "minutesInterval": 1 }]
        }
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000002",
      "name": "GET appointments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ugocvtuomyopullvilim.supabase.co/rest/v1/appointments?reminder_24h=is.null&tg_id=not.is.null&date=gte.' + $now.toISO() + '&date=lte.' + $now.plus({hours: 25}).toISO() + '&select=record_id,date,tg_id,YC_ID,client_id,clientName,service_name,master_name,status' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000003",
      "name": "Разобрать массив записей",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json;\n// Если пустой массив — workflow просто остановится\nif (!Array.isArray(body) || body.length === 0) {\n  return [];\n}\nreturn body.map(item => ({ json: item }));"
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000004",
      "name": "По одной записи",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 300],
      "parameters": { "options": {} }
    },
    {
      "id": "c001-0000-0000-0000-000000000005",
      "name": "GET клиент по tg_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://ugocvtuomyopullvilim.supabase.co/rest/v1/clients_tg?tg_id=eq.' + $json.tg_id + '&select=tg_id,first_name,last_name,tg_username,blocked,can_message' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000006",
      "name": "Объединить запись + клиент",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "jsCode": "// Берём текущую запись из SplitInBatches\nconst appt = $('По одной записи').item.json;\n\n// Берём клиента из предыдущего HTTP запроса\nconst clientBody = $input.first().json;\nconst client = Array.isArray(clientBody) && clientBody.length > 0 ? clientBody[0] : null;\n\n// Если клиент не найден — пропускаем\nif (!client) return [];\n\n// Проверяем, можно ли отправить сообщение\nif (client.blocked === 'true' || client.blocked === true) return [];\nif (client.can_message === 'false' || client.can_message === false) return [];\n\n// Форматируем дату на русском\nconst dt = new Date(appt.date);\nconst dateFormatted = dt.toLocaleDateString('ru-RU', {\n  day: 'numeric',\n  month: 'long',\n  timeZone: 'Europe/Moscow'\n}) + ' в ' + dt.toLocaleTimeString('ru-RU', {\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: 'Europe/Moscow'\n});\n\n// Имя клиента: из clients_tg или из appointments\nconst clientName = client.first_name\n  ? (client.first_name + (client.last_name ? ' ' + client.last_name : ''))\n  : (appt.clientName || 'Клиент');\n\nreturn [{\n  json: {\n    record_id:     appt.record_id,\n    tg_id:         appt.tg_id,\n    YC_ID:         appt.YC_ID,\n    client_id:     appt.client_id,\n    client_name:   clientName,\n    tg_username:   client.tg_username || '',\n    service_name:  appt.service_name || '',\n    master_name:   appt.master_name  || '',\n    date_raw:      appt.date,\n    date_formatted: dateFormatted\n  }\n}];"
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000007",
      "name": "Отправить напоминание с кнопками",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1440, 200],
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=📅 *Напоминание о записи*\n\nПривет, {{ $json.client_name }}! Напоминаем о вашей записи в салон *Пять ручек*:\n\n🗓 *Дата:* {{ $json.date_formatted }}\n✂️ *Услуга:* {{ $json.service_name }}\n👤 *Мастер:* {{ $json.master_name }}\n\nПожалуйста, подтвердите ваш визит:",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown",
          "replyMarkup": "inlineKeyboard",
          "inlineKeyboard": {
            "rows": [
              {
                "row": {
                  "buttons": [
                    {
                      "text": "✅ Приду",
                      "callbackData": "=confirm_{{ $json.record_id }}"
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "🔄 Перенести",
                      "callbackData": "=reschedule_{{ $json.record_id }}"
                    }
                  ]
                }
              },
              {
                "row": {
                  "buttons": [
                    {
                      "text": "❌ Не смогу",
                      "callbackData": "=cancel_{{ $json.record_id }}"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "56b5PgNwe1YoXmQn",
          "name": "test"
        }
      }
    },
    {
      "id": "c001-0000-0000-0000-000000000008",
      "name": "PATCH appointment — reminder отправлен",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 200],
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://ugocvtuomyopullvilim.supabase.co/rest/v1/appointments?record_id=eq.' + $('Объединить запись + клиент').item.json.record_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVnb2N2dHVvbXlvcHVsbHZpbGltIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwOTcxMjIsImV4cCI6MjA4NzY3MzEyMn0.rx7-A9_-WYWGRgZhDRwvLU3Roqds14Tv-DUqL9NJXrk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ reminder_24h: 'sent', tg_reminder_msg_id: $('Отправить напоминание с кнопками').item.json.result.message_id }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Каждый час": {
      "main": [[{ "node": "GET appointments", "type": "main", "index": 0 }]]
    },
    "GET appointments": {
      "main": [[{ "node": "Разобрать массив записей", "type": "main", "index": 0 }]]
    },
    "Разобрать массив записей": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    },
    "По одной записи": {
      "main": [
        [{ "node": "GET клиент по tg_id", "type": "main", "index": 0 }],
        []
      ]
    },
    "GET клиент по tg_id": {
      "main": [[{ "node": "Объединить запись + клиент", "type": "main", "index": 0 }]]
    },
    "Объединить запись + клиент": {
      "main": [[{ "node": "Отправить напоминание с кнопками", "type": "main", "index": 0 }]]
    },
    "Отправить напоминание с кнопками": {
      "main": [[{ "node": "PATCH appointment — reminder отправлен", "type": "main", "index": 0 }]]
    },
    "PATCH appointment — reminder отправлен": {
      "main": [[{ "node": "По одной записи", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "448605b2d85039fda3236eb2e96b6b266eec110c39c8f8814847e4541b63dac6"
  }
}
